[submodule "rock-paper-scissors-frontend"]
	path = rock-paper-scissors-frontend
	url = https://github.com/annacaro/rock-paper-scissors-frontend.git
[submodule "rock-paper-scissors-backend"]
	path = rock-paper-scissors-backend
	url = https://github.com/annacaro/rock-paper-scissors-backend.git
